{% extends "base.html" %}
{% load static %}
{% block menutype %}nav-innerpage-style main-menu{% endblock menutype %}
{% block content %}
<div class="search-modal">
  <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
              class="fal fa-xmark"></i></button>
        </div>
        <div class="modal-body">
          <div class="popup-search-field search_area">
            <input type="text" class="form-control border-0" placeholder="What service are you looking for today?">
            <label><span class="far fa-magnifying-glass"></span></label>
            <button class="ud-btn btn-thm" type="submit">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <section class="categories_list_section overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="listings_category_nav_list_menu">
            <ul class="mb0 d-flex ps-0">
              <li><a href="#">All Categories</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Breadcumb Sections -->
  <section class="breadcumb-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcumb-style1">
            <div class="breadcumb-list">
              <a href="{% url 'core:home' %}">Home</a>
              <a href="{% url 'marketplace:services-main' %}">Services</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Breadcumb Sections -->
  <section class="breadcumb-section pt-0">
    <div class="cta-service-v1 cta-banner mx-auto maxw1700 pt120 pb120 bdrs16 position-relative overflow-hidden d-flex align-items-center mx20-lg px30-lg">
      <img class="left-top-img wow zoomIn" src="{% static 'assets/images/vector-img/left-top.png' %}" alt="">
      <img class="right-bottom-img wow zoomIn" src="{% static 'assets/images/vector-img/right-bottom.png' %}" alt="">
      <img class="service-v1-vector bounce-y d-none d-lg-block" src="{% static 'assets/images/vector-img/vector-service-v1.png' %}" alt="">
      <div class="container">
        <div class="row wow fadeInUp">
          <div class="col-xl-5">
            <div class="position-relative">
              <h2>Design & Creative</h2>
              <p class="text mb30">Give your visitor a smooth online experience with a solid design</p>
                <div class="row">
                    <div class="advance-search-field bdrr1 bdrn-sm">
                      <form class="form-search position-relative" method="get" action="{% url 'marketplace:service_search' %}">
                            <div class="box-search bb1-sm">
                              <span class="icon far fa-magnifying-glass"></span>
                              <input class="form-control" type="text" name="query" placeholder="What are you looking for?">
                            </div>
                            <div class="col-md-3 col-lg-2 col-xl-3">
                            <div class="text-center text-xl-start">
                            <button class="ud-btn btn-thm2 w-100 vam" type="submit">Search</button>
                            </div>
                            </div>
                      </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Listings All Lists -->
  <section class="pt30 pb90">
    <div class="container">
      <div class="row align-items-center mb20">
        <div class="col-6 col-sm-6 col-lg-9 pe-0">
          <div class="text-center text-sm-start">
            <div class="dropdown-lists">
              <ul class="p-0 mb-0 text-center text-sm-start">
              </ul>
            </div>
          </div>
        </div>
        <!-- <div class="col-6 col-sm-6 col-lg-3 px-0">
          <div class="page_control_shorting mb10 d-flex align-items-center justify-content-center justify-content-sm-end">
            <div class="pcs_dropdown dark-color pr10 pr0-xs"><span>Sort by</span>
              <select class="selectpicker show-tick">
                <option>Best Seller</option>
                <option>Recommended</option>
                <option>New Arrivals</option>
              </select>
            </div>
          </div>
        </div> -->
      </div>
      <div class="row">
        {% if services %}
        {% for service in services %}
        <div class="col-sm-6 col-xl-3">
          <div class="listing-style1">
            <div class="list-thumb">
              <img class="w-100" src="{% if service.image %}{{ service.image.url }}{% else %} {% static 'assets/images/listings/g-1.jpg' %} {% endif %}" alt="">
              <a href="" class="listing-fav fz12"><span class="far fa-heart"></span></a>
            </div>
            <div class="list-content">
              <p class="list-text body-color fz14 mb-1">{{ service.title }}</p>
              <h5 class="list-title"><a href="{% url 'marketplace:service-details' service.pk %}">{{ service.description}}</a></h5>
              <div class="review-meta d-flex align-items-center">
                <i class="fas fa-star fz10 review-color me-2"></i>
                <p class="mb-0 body-color fz14"><span class="dark-color me-2">4.82</span> {{ service.review_count }} reviews</p>
              </div>
              <hr class="my-2">
              <div class="list-meta d-flex justify-content-between align-items-center mt15">
                <a href="">
                  <span class="position-relative mr10">
                    <img class="rounded-circle" src="{% if service.seller_profile.user_profile.user.profile_image %}{{ service.seller_profile.user_profile.user.profile_image.url }}{% else %} {% static 'assets/images/team/fl-s-1.png' %} {% endif %}" alt="Freelancer Photo">
                    <span class="online-badge"></span>
                  </span>
                  <span class="fz14">{{ service.seller_profile.user_profile }}</span>
                </a>
                <div class="budget">
                  <p class="mb-0 body-color">Starting at<span class="fz17 fw500 dark-color ms-1">TSH {{service.price }}</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <p>This service is not found.</p>
        {% endif %}

        <!-- <div class="col-sm-6 col-xl-3">
          <div class="listing-style1">
            <div class="list-thumb">
              <div class="listing-thumbIn-slider position-relative navi_pagi_bottom_center slider-1-grid owl-carousel owl-theme">
                <div class="item">
                  <img class="w-100" src="{% static 'assets/images/listings/g-2.jpg' %}" alt="">
                  <a href="" class="listing-fav fz12"><span class="far fa-heart"></span></a>
                </div>
                <div class="item">
                  <img class="w-100" src="{% static 'assets/images/listings/g-3.jpg' %}" alt="">
                  <a href="" class="listing-fav fz12"><span class="far fa-heart"></span></a>
                </div>
                <div class="item">
                  <img class="w-100" src="{% static 'assets/images/listings/g-4.jpg' %}" alt="">
                  <a href="" class="listing-fav fz12"><span class="far fa-heart"></span></a>
                </div>
                <div class="item">
                  <img class="w-100" src="{% static 'assets/images/listings/g-5.jpg' %}" alt="">
                  <a href="" class="listing-fav fz12"><span class="far fa-heart"></span></a>
                </div>
              </div>
            </div>
            <div class="list-content">
              <p class="list-text body-color fz14 mb-1">Art & Illustration</p>
              <h5 class="list-title"><a href="page-services-single.html">I will create modern flat design illustration</a></h5>
              <div class="review-meta d-flex align-items-center">
                <i class="fas fa-star fz10 review-color me-2"></i>
                <p class="mb-0 body-color fz14"><span class="dark-color me-2">4.82</span>94 reviews</p>
              </div>
              <hr class="my-2">
              <div class="list-meta d-flex justify-content-between align-items-center mt15">
                <a href="">
                  <span class="position-relative mr10">
                    <img class="rounded-circle" src="{% static 'assets/images/team/fl-s-2.png' %}" alt="Freelancer Photo">
                    <span class="online-badge"></span>
                  </span>
                  <span class="fz14">Ali Tufan</span>
                </a>
                <div class="budget">
                  <p class="mb-0 body-color">Starting at<span class="fz17 fw500 dark-color ms-1">Tsh 983</span></p>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        
      </div>
      <div class="row">
        <div class="mbp_pagination mt30 text-center">
          <ul class="page_navigation">
            <li class="page-item">
              <a class="page-link" href="#"> <span class="fas fa-angle-left"></span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item d-inline-block d-sm-none"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item d-none d-sm-inline-block"><a class="page-link" href="#">...</a></li>
            <li class="page-item d-none d-sm-inline-block"><a class="page-link" href="#">20</a></li>
            <li class="page-item">
              <a class="page-link" href="#"><span class="fas fa-angle-right"></span></a>
            </li>
          </ul>
          <p class="mt10 mb-0 pagination_page_count text-center">1 – 20 of 300+ property available</p>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
  