{% extends "base.html" %}
{% load static %}
{% block menutype %}nav-innerpage-style main-menu{% endblock menutype %}
{% block content %}

    <!-- Our SignUp Area -->
<section class="our-register">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 m-auto wow fadeInUp" data-wow-delay="300ms">
        <div class="main-title text-center">
          <h2 class="title">Register</h2>
          <p class="paragraph">Give your visitor a smooth online experience with a solid UX design</p>
        </div>
      </div>
    </div>
    <div class="row wow fadeInRight" data-wow-delay="300ms">
      <div class="col-xl-6 mx-auto">
        <div class="log-reg-form search-modal form-style1 bgc-white p50 p30-sm default-box-shadow1 bdrs12">
          <div class="mb30">
            <h4>Let's create your account!</h4>
            <p class="text mt20">Already have an account? <a href="{% url 'marketplace:login' %}" class="text-thm">Log In!</a></p>
          </div>
          <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="mb20">
              <label class="form-label fw600 dark-color">Username</label>
              <input name="username" id="id_username" type="text" class="form-control {% if form.username.errors %} is-invalid {% endif %}" value="{{ form.data.username }}" placeholder="alitfn" required>
              {% for error in form.username.errors %}
                <div class="invalid-feedback">{{ error }}</div>
              {% endfor %}
            </div>
            <div class="mb25">
              <label class="form-label fw500 dark-color">Email</label>
              <input name="email" type="email" class="form-control {% if form.email.errors %} is-invalid {% endif %}" value="{{ form.data.email }}" placeholder="alitfn58@gmail.com" required>
              {% for error in form.email.errors %}
                <div class="invalid-feedback">{{ error }}</div>
              {% endfor %}
            </div>
            <div class="mb15">
              <label class="form-label fw600 dark-color">Password</label>
              <input name="password1" type="password" class="form-control {% if form.password1.errors %} is-invalid {% endif %}" placeholder="*******" required>
              {% for error in form.password1.errors %}
                <div class="invalid-feedback">{{ error }}</div>
              {% endfor %}
            </div>

            <div class="mb15">
              <label class="form-label fw500 dark-color">Confirm Password</label>
              <input name="password2" type="password" class="form-control {% if form.password2.errors %} is-invalid {% endif %}" placeholder="confirm *******" required>
              {% for error in form.password2.errors %}
                <div class="invalid-feedback">{{ error }}</div>
              {% endfor %}
            </div>

            <div class="d-grid mb20">
              <button class="ud-btn btn-thm" type="submit">Create Account <i class="fal fa-arrow-right-long"></i></button>
            </div>
            <!-- Add your social login buttons here -->
          
          <div class="hr_content mb20"><hr><span class="hr_top_text">OR</span></div>
          <div class="d-md-flex justify-content-between">
            <button class="ud-btn btn-fb fz14 fw400 mb-2 mb-md-0" type="button"><i class="fab fa-facebook-f pr10"></i> Continue Facebook</button>
            <button class="ud-btn btn-google fz14 fw400 mb-2 mb-md-0" type="button"><i class="fab fa-google"></i> Continue Google</button>
            <button class="ud-btn btn-apple fz14 fw400" type="button"><i class="fab fa-apple"></i> Continue Apple</button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</section>


<script>
  document.addEventListener('DOMContentLoaded', function() {
      var usernameInput = document.getElementById('id_username');
      usernameInput.addEventListener('input', function() {
          // Clear any existing error messages
          var errorDiv = usernameInput.nextElementSibling;
          if (errorDiv && errorDiv.classList.contains('invalid-feedback')) {
              errorDiv.innerHTML = '';
          }
      });
  });
  </script>


    <!-- Our Footer --> 
    <section class="footer-style1 pt25 pb-0">
      <div class="container">
        <div class="row bb-white-light pb10 mb60">
          <div class="col-md-7">
            <div class="d-block text-center text-md-start justify-content-center justify-content-md-start d-md-flex align-items-center mb-3 mb-md-0">
              <a class="fz17 fw500 text-white mr15-md mr30" href="">Terms of Service</a>
              <a class="fz17 fw500 text-white mr15-md mr30" href="">Privacy Policy</a>
              <a class="fz17 fw500 text-white" href="">Site Map</a>
            </div>
          </div>
          <div class="col-md-5">
            <div class="social-widget text-center text-md-end">
              <div class="social-style1">
                <a class="text-white me-2 fw500 fz17" href="">Follow us</a>
                <a href=""><i class="fab fa-facebook-f list-inline-item"></i></a>
                <a href=""><i class="fab fa-twitter list-inline-item"></i></a>
                <a href=""><i class="fab fa-instagram list-inline-item"></i></a>
                <a href=""><i class="fab fa-linkedin-in list-inline-item"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <div class="link-style1 mb-4 mb-sm-5">
              <h5 class="text-white mb15">About</h5>
              <div class="link-list">
                <a href="">Careers</a>
                <a href="">Press & News</a>
                <a href="">Partnerships</a>
                <a href="">Privacy Policy</a>
                <a href="">Terms of Service</a>
                <a href="">Investor Relations</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="link-style1 mb-4 mb-sm-5">
              <h5 class="text-white mb15">Categories</h5>
              <ul class="ps-0">
                <li><a href="">Graphics & Design</a></li>
                <li><a href="">Digital Marketing</a></li>
                <li><a href="">Writing & Translation</a></li>
                <li><a href="">Video & Animation</a></li>
                <li><a href="">Music & Audio</a></li>
                <li><a href="">Programming & Tech</a></li>
                <li><a href="">Data</a></li>
                <li><a href="">Business</a></li>
                <li><a href="">Lifestyle</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="link-style1 mb-4 mb-sm-5">
              <h5 class="text-white mb15">Support</h5>
              <ul class="ps-0">
                <li><a href="">Help & Support</a></li>
                <li><a href="">Trust & Safety</a></li>
                <li><a href="">Selling on Freeio</a></li>
                <li><a href="">Buying on Freeio</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="footer-widget">
              <div class="footer-widget mb-4 mb-sm-5">
                <div class="mailchimp-widget">
                  <h5 class="title text-white mb20">Subscribe</h5>
                  <div class="mailchimp-style1">
                    <input type="email" class="form-control" placeholder="Your email address">
                    <button type="submit">Send</button>
                  </div>
                </div>
              </div>
              <div class="app-widget mb-4 mb-sm-5">
                <h5 class="title text-white mb20">Apps</h5>
                <div class="row mb-4 mb-lg-5">
                  <div class="col-lg-12">
                    <a class="app-list d-flex align-items-center mb10" href="">
                      <i class="fab fa-apple fz17 mr15"></i>
                      <h6 class="app-title fz15 fw400 mb-0">iOS App</h6>
                    </a>
                    <a class="app-list d-flex align-items-center" href="">
                      <i class="fab fa-google-play fz15 mr15"></i>
                      <h6 class="app-title fz15 fw400 mb-0">Android App</h6>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container white-bdrt1 py-4">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="text-center text-lg-start">
              <p class="copyright-text mb-2 mb-md-0 text-white-light ff-heading">© Freeio. 2023 CreativeLayers. All rights reserved.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="footer_bottom_right_btns text-center text-lg-end">
              <ul class="p-0 m-0">
                <li class="list-inline-item">
                  <select class="selectpicker show-tick">
                    <option>US$ USD</option>
                    <option>Euro</option>
                    <option>Pound</option>
                  </select>
                </li>
                <li class="list-inline-item">
                  <select class="selectpicker show-tick">
                    <option>English</option>
                    <option>Frenc</option>
                    <option>Italian</option>
                    <option>Spanish</option>
                    <option>Turkey</option>
                  </select>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <a class="scrollToHome" href="#"><i class="fas fa-angle-up"></i></a>
 

{% endblock content%}