{% extends "base.html" %}
{% load static %}
{% block menutype %}nav-innerpage-style main-menu{% endblock menutype %}
{% block content %}
<section class="categories_list_section overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="listings_category_nav_list_menu">
            <ul class="mb0 d-flex ps-0">
              <li><a href="#">All Categories</a></li>
              {% comment %} <li><a href="#">Graphics & Design</a></li>
              <li><a class="active" href="#">Digital Marketing</a></li>
              <li><a href="#">Writing & Translation</a></li>
              <li><a href="#">Video & Animation</a></li>
              <li><a href="#">Music & Audio</a></li>
              <li><a href="#">Programming & Tech</a></li>
              <li><a href="#">Business</a></li>
              <li><a href="#">Lifestyle</a></li>
              <li><a href="#">Trending</a></li> {% endcomment %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Breadcumb Sections -->
  <section class="breadcumb-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcumb-style1">
            <div class="breadcumb-list">
              <a href="">Home</a>
              <a href="{% url 'marketplace:jobs'%}">Jobs</a>
              {% comment %} <a href="">Design & Creative</a> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Breadcumb Sections -->
  <section class="breadcumb-section pt-0">
    <div class="cta-job-v1 cta-banner mx-auto maxw1700 pt120 pb120 bdrs16 position-relative overflow-hidden d-flex align-items-center mx20-lg px30-lg">
      <img class="left-top-img wow zoomIn" src="{% static 'assets/images/vector-img/left-top.png' %}" alt="">
      <img class="right-bottom-img wow zoomIn" src="{% static 'assets/images/vector-img/right-bottom.png' %}" alt="">
      <img class="service-v1-vector at-job bounce-x d-none d-xl-block" src="{% static 'assets/images/vector-img/vector-service-v1.png' %}" alt="">
      <div class="container">
        <div class="row wow fadeInUp">
          <div class="col-xl-7">
            <div class="position-relative">
              <h2>Job List</h2>
              <p class="text">All Jobs found in lite Exchange.</p>
            </div>
            {% comment %} <div class="advance-search-tab bgc-white p10 bdrs4 mt30"> {% endcomment %}
              <div class="row">
                <div class="col-md-5 col-lg-6 col-xl-6">
                  <div class="advance-search-field bdrr1 bdrn-sm">
                    <form class="form-search position-relative" method="get" action="{% url 'marketplace:job_search' %}">
                      <div class="box-search bb1-sm">
                        <span class="icon far fa-magnifying-glass"></span>
                        <input class="form-control" type="text" name="query" placeholder="What are you looking for?">
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-3">
                      <div class="text-center text-xl-start">
                      <button class="ud-btn btn-thm2 w-100 vam" type="submit">Search</button>
                      </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            {% comment %} </div> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Listings All Lists -->
  <section class="pt40 pb90">
    <div class="container">
      <div class="row align-items-center mb20">
        <div class="col-sm-6 col-lg-9">
          <div class="text-center text-sm-start">
            <div class="dropdown-lists">
              <ul class="p-0 mb-0 text-center text-sm-start">
                <li class="d-block d-xl-none mb-2">
                  <!-- Advance Features modal trigger -->
                  <button type="button" class="open-btn filter-btn-left"> <img class="me-2" src="{% static 'assets/images/icon/all-filter-icon.svg' %}" alt=""> All Filter</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="page_control_shorting mb10 d-flex align-items-center justify-content-center justify-content-sm-end">
            <div class="pcs_dropdown dark-color pr10"><span>Sort by</span>
              <select class="selectpicker show-tick">
                <option>Best Seller</option>
                <option>Recommended</option>
                <option>New Arrivals</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        
        {% for job in jobs  %}
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="job-list-style1 bdr1">
            <div class="icon d-flex align-items-center mb20">
              <img class="wa" src="{% if job.image %}{{ job.image.url }} {% else %} {% static 'assets/images/team/client-2.png' %}{% endif %}" alt="">
              <h6 class="mb-0 text-thm ml20"><a href="{% url 'marketplace:job-details' job.pk %}">{{job}}</a></h6>
              <span class="fav-icon flaticon-star"></span>
            </div>
            <div class="details">
              <h5 class="mb20">{{job.category.name}}</h5>
              <p class="list-inline-item mb-3">{{job.budget }} Salary</p>
              <p class="list-inline-item mb-3 bdrl1 pl15">1-5 months</p>
              <p class="list-inline-item mb-0 bdrl1 pl15">{{job.job_type}}</p>
              {% comment %} <p class="list-inline-item mb-0 bdrl1 pl15">Remote</p> {% endcomment %}
            </div>
          </div>
        </div>
        {% endfor %}

      </div>

      <div class="row">
        <div class="mbp_pagination mt30 text-center">
          <ul class="page_navigation">
            <li class="page-item">
              <a class="page-link" href="#"> <span class="fas fa-angle-left"></span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item d-inline-block d-sm-none"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item d-none d-sm-inline-block"><a class="page-link" href="#">...</a></li>
            <li class="page-item d-none d-sm-inline-block"><a class="page-link" href="#">20</a></li>
            <li class="page-item">
              <a class="page-link" href="#"><span class="fas fa-angle-right"></span></a>
            </li>
          </ul>
          <p class="mt10 mb-0 pagination_page_count text-center">1 – 20 of 300+ property available</p>
        </div>
      </div>
    </div>
  </section>


{% endblock content %}
    