{% extends "base.html" %}
{% load static %}
{% block menutype %}nav-innerpage-style main-menu{% endblock menutype %}
{% block content %}


    <section class="categories_list_section overflow-hidden">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="listings_category_nav_list_menu">
              <ul class="mb0 d-flex ps-0">
                <li><a href="#">All Categories</a></li>
                {% comment %} <li><a href="#">Graphics & Design</a></li>
                <li><a class="active" href="#">Digital Marketing</a></li>
                <li><a href="#">Writing & Translation</a></li>
                <li><a href="#">Video & Animation</a></li>
                <li><a href="#">Music & Audio</a></li>
                <li><a href="#">Programming & Tech</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Lifestyle</a></li>
                <li><a href="#">Trending</a></li> {% endcomment %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Breadcumb Sections -->
    <section class="breadcumb-section">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-lg-10">
            <div class="breadcumb-style1 mb10-xs">
              <div class="breadcumb-list">
                <a href="">Home</a>
                <a href="{% url  'marketplace:jobs' %}">Jobs</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-lg-2">
            <div class="d-flex align-items-center justify-content-sm-end">
              <div class="share-save-widget d-flex align-items-center">
                <span class="icon flaticon-share dark-color fz12 mr10"></span>
                <div class="h6 mb-0">Share</div>
              </div>
              <div class="share-save-widget d-flex align-items-center ml15">
                <span class="icon flaticon-like dark-color fz12 mr10"></span>
                <div class="h6 mb-0">Save</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Breadcumb Sections -->
    <section class="breadcumb-section pt-0">
      <div class="cta-job-v1 freelancer-single-style mx-auto maxw1700 pt120 pt60-sm pb120 pb60-sm bdrs16 position-relative overflow-hidden d-flex align-items-center mx20-lg px30-lg">
        <img class="left-top-img wow zoomIn" src="images/vector-img/left-top.png" alt="">
        <img class="right-bottom-img wow zoomIn" src="images/vector-img/right-bottom.png" alt="">
        <div class="container">
          <div class="row wow fadeInUp">
            <div class="col-xl-8 mx-auto">
              <div class="position-relative">
                <div class="list-meta d-lg-flex align-items-end justify-content-between">
                  <div class="wrapper d-sm-flex align-items-center mb20-md">
                    <a class="position-relative freelancer-single-style" href="">
                      <img class="wa" src="images/team/job-single.png" alt="">
                    </a>
                    <div class="ml20 ml0-xs mt15-sm">
                      <h4 class="title">{{job.title}}</h4>
                      <h6 class="mb-3 text-thm">{{job.category}}</h6>
                      <h6 class="list-inline-item mb-0">{{job.budget}} Monthly</h6>
                      <h6 class="list-inline-item mb-0 bdrl-eunry pl15">1-5 Days</h6>
                      <h6 class="list-inline-item mb-0 bdrl-eunry pl15">{{job.job_type}}</h6>
                      <h6 class="list-inline-item mb-0 bdrl-eunry pl15">{{job.status}}</h6>
                    </div>
                  </div>
                  <a href="{% url 'marketplace:job-application' job.pk %}" class="ud-btn btn-thm2">Apply For Job<i class="fal fa-arrow-right-long"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Service Details -->
    <section class="pt10 pb90 pb30-md">
      <div class="container">
        <div class="row wow fadeInUp">
          <div class="col-lg-8 mx-auto">
            <div class="row">
              <div class="col-sm-6 col-xl-3">
                <div class="iconbox-style1 contact-style d-flex align-items-start mb30">
                  <div class="icon flex-shrink-0"><span class="flaticon-calendar"></span></div>
                  <div class="details">
                    <h5 class="title">Date Posted</h5>
                    <p class="mb-0 text">{{job.created_at}}</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-3">
                <div class="iconbox-style1 contact-style d-flex align-items-start mb30">
                  <div class="icon flex-shrink-0"><span class="flaticon-place"></span></div>
                  <div class="details">
                    <h5 class="title">Location</h5>
                    <p class="mb-0 text">{{job.user.location}}</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-3">
                <div class="iconbox-style1 contact-style d-flex align-items-start mb30">
                  <div class="icon flex-shrink-0"><span class="flaticon-fifteen"></span></div>
                  <div class="details">
                    <h5 class="title">Hours</h5>
                    <p class="mb-0 text">50h / week</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-3">
                <div class="iconbox-style1 contact-style d-flex align-items-start mb30">
                  <div class="icon flex-shrink-0"><span class="flaticon-pay-day"></span></div>
                  <div class="details">
                    <h5 class="title">Salary</h5>
                    <p class="mb-0 text">{{job.budget}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="service-about">
              <h4 class="mb-4">Description</h4>
              <p class="text mb30">{{job.description}}</p>
              <p class="text mb60">{% if job.description2 %}{{job.description2}}{% else %}{% endif %}</p>
              <h4 class="mb30">Key Responsibilities</h4>
              <div class="list-style1 mb60 pr50 pr0-lg">
                <ul>
                  <li><i class="far fa-check text-thm3 bgc-thm3-light"></i>Be involved in every step of the product design cycle from discovery to developer handoff and user acceptance testing.</li>
                 
                </ul>
              </div>
              <h4 class="mb30">Work & Experience</h4>
              <ul class="list-style-type-bullet ps-3 mb60">
                <li>You have at least 3 years’ experience working as a Product Designer.</li>
              </ul>
              <div class="d-grid mb60">
                <a href="{% url 'marketplace:job-application' job.pk %}" class="ud-btn btn-thm2">Apply For Job<i class="fal fa-arrow-right-long"></i></a>
              </div>
              <div class="main-title mb30">
                <h2>Related Jobs</h2>
                <p class="text">2024 jobs live - 23 added today</p>
              </div>
              <div class="row">
                <div class="col-sm-6 col-xl-12">
                  <div class="job-list-style1 bdr1 d-xl-flex align-items-start">
                    <div class="icon d-flex align-items-center mb20">
                      <img class="wa" src="images/team/client-2.png" alt="">
                      <span class="fav-icon flaticon-star"></span>
                    </div>
                    <div class="details ml20 ml0-xl">
                      <h5>Marketing and Communications Manager</h5>
                      <h6 class="mb-3 text-thm">Mailchimp</h6>
                      <p class="list-inline-item mb-0">Tsh 125k-Tsh 135k Hourly</p>
                      <p class="list-inline-item mb-0 bdrl1 pl15">1-5 Days</p>
                      <p class="list-inline-item mb-0 bdrl1 pl15">Expensive</p>
                      <p class="list-inline-item mb-0 bdrl1 pl15">Remote</p>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


{% endblock content %}