{% extends "dashboards/sellers-dashboard/base.html" %}
{% load static %}

{% block content %}
 <div class="col-lg-9">
              <div class="dashboard_title_area">
                <h2>Add Services</h2>
                <p class="text">Add new service</p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="text-lg-end">
                <a href="" class="ud-btn btn-dark">Save & Publish<i class="fal fa-arrow-right-long"></i></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <div class="ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative">
                <div class="bdrb1 pb15 mb25">
                  <h5 class="list-title">Basic Information</h5>
                </div>
                
                <div class="col-xl-8">
                  <div class="row">
                    <div class="col-xl-12">
                      <div class="ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative">
                            <form method="post" action="{% url 'marketplace:maps' %}" id="serviceForm">
                              {% csrf_token %}
                              {{ form.as_p }}
                              <input type="hidden" name="latitude" id="id_latitude">
                              <input type="hidden" name="longitude" id="id_longitude">
                              <button class="ud-btn btn-thm" type="submit">Save Service</button>
                            </form>

                            <script>
                              document.getElementById('serviceForm').addEventListener('submit', function (event) {
                                event.preventDefault(); // Prevent the form from submitting

                                var serviceLocation = document.getElementById('id_service_location').value;
                                var geocodeUrl = `https://nominatim.openstreetmap.org/search?q=${encodeURIComponent(serviceLocation)}&format=json&limit=1`;

                                fetch(geocodeUrl)
                                  .then(response => response.json())
                                  .then(data => {
                                    if (data.length > 0) {
                                      var lat = data[0].lat;
                                      var lon = data[0].lon;

                                      document.getElementById('id_latitude').value = lat;
                                      document.getElementById('id_longitude').value = lon;

                                      document.getElementById('serviceForm').submit(); // Now submit the form
                                    } else {
                                      alert('Location not found');
                                    }
                                  })
                                  .catch(error => console.error('Error:', error));
                              });
                            </script>
                      </div>
                    </div>
                </div>

                </div>
              </div>
          </div>
{% endblock content %}