{% extends "dashboards/sellers-dashboard/base.html" %}
{% load static %}
{% block content %}

 <div class="col-lg-9">
              <div class="dashboard_title_area">
                <h2>Manage Services</h2>
                <p class="text">Use a pc for a clear view</p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="text-lg-end">
                <a href="{% url 'core:add-service' %}" class="ud-btn btn-dark default-box-shadow2">Add Service<i class="fal fa-arrow-right-long"></i></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <div class="ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative">
                <div class="navtab-style1">
                  <nav>
                    <div class="nav nav-tabs mb30" id="nav-tab2" role="tablist">
                      <button class="nav-link active fw500 ps-0" id="nav-item1-tab" data-bs-toggle="tab" data-bs-target="#nav-item1" type="button" role="tab" aria-controls="nav-item1" aria-selected="true">Active Services</button>
                      <button class="nav-link fw500" id="nav-item2-tab" data-bs-toggle="tab" data-bs-target="#nav-item2" type="button" role="tab" aria-controls="nav-item2" aria-selected="false">Pending Services</button>
                      <button class="nav-link fw500" id="nav-item3-tab" data-bs-toggle="tab" data-bs-target="#nav-item3" type="button" role="tab" aria-controls="nav-item3" aria-selected="false">Ongoing Services</button>
                      <button class="nav-link fw500" id="nav-item4-tab" data-bs-toggle="tab" data-bs-target="#nav-item4" type="button" role="tab" aria-controls="nav-item4" aria-selected="false">Completed Services</button>
                      <!-- <button class="nav-link fw500" id="nav-item5-tab" data-bs-toggle="tab" data-bs-target="#nav-item5" type="button" role="tab" aria-controls="nav-item5" aria-selected="false">Canceled Services</button> -->
                    </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-item1" role="tabpanel" aria-labelledby="nav-item1-tab">
                      <div class="packages_table table-responsive">
                        <table class="table-style3 table at-savesearch">
                          <thead class="t-head">
                            <tr>
                              <th scope="col">Title</th>
                              <th scope="col">Description</th>
                              <th scope="col">Category</th>
                              <th scope="col">Type/Cost</th>
                              <th scope="col">Actions</th>
                            </tr>
                          </thead>
                          <tbody class="t-body">
                            {% if services %}
                            {% for service in services %}
                                {% if service.status == 'active' %}
                                <tr>
                                    <th class="dashboard-img-service" scope="row">
                                        <div class="listing-style1 list-style d-block d-xl-flex align-items-start border-0 mb-0">
                                            <div class="list-thumb flex-shrink-0 bdrs4 mb10-lg">
                                                <img class="w-100" src="{% if service.image %}{{ service.image.url }}{% else %}{% static 'assets/images/listings/g-1.jpg' %}{% endif %}" alt="">
                                            </div>
                                            <div class="list-content flex-grow-1 py-0 pl15 pl0-lg">
                                                <p class="list-title mb-0"><a href="{% url 'core:edit-service' service.pk %}">{{ service.title }}</a></p>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="align-top"><span class="fz15 fw400">{{ service.description }}</span></td>
                                    <td class="align-top"><span class="fz15 fw400">{{ service.category.name }}</span></td>
                                    <td class="align-top"><span class="fz14 fw400">Tsh {{ service.price }}/Fixed</span></td>
                                    <td class="align-top">
                                        <div class="d-flex">
                                            <a href="{% url 'core:edit-service' service.pk %}" class="icon me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><span class="flaticon-pencil"></span></a>
                                            <a href="{% url 'core:delete-service' service.pk %}" class="icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><span class="flaticon-delete"></span></a>
                                        </div>
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        
                           
                          </tbody>
                        </table>
                        <div class="mbp_pagination text-center mt30">
                          <ul class="page_navigation">
                            <li class="page-item">
                              <a class="page-link" href="#"> <span class="fas fa-angle-left"></span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active" aria-current="page">
                              <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">20</a></li>
                            <li class="page-item">
                              <a class="page-link" href="#"><span class="fas fa-angle-right"></span></a>
                            </li>
                          </ul>
                          <p class="mt10 mb-0 pagination_page_count text-center">1 – 20 of 300+ Services available</p>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="nav-item2" role="tabpanel" aria-labelledby="nav-item2-tab">
                      <div class="packages_table table-responsive">
                        <table class="table-style3 table at-savesearch">
                          <thead class="t-head">
                            <tr>
                              <th scope="col">Title</th>
                              <th scope="col">Description</th>
                              <th scope="col">Category</th>
                              <th scope="col">Type/Cost</th>
                              <th scope="col">Actions</th>
                            </tr>
                          </thead>
                          <tbody class="t-body">
                            {% if services %}
                            {% for service in services %}
                            {% if service.status == 'pending' %}
                            <tr>
                              <th class="dashboard-img-service" scope="row">
                                <div class="listing-style1 list-style d-block d-xl-flex align-items-start border-0 mb-0">
                                  <div class="list-thumb flex-shrink-0 bdrs4 mb10-lg">
                                    <img class="w-100" src="{% if service.image %}{{ service.image.url }}{% else %} {% static 'assets/images/listings/g-1.jpg' %} {% endif %}" alt="">
                                  </div>
                                  <div class="list-content flex-grow-1 py-0 pl15 pl0-lg">
                                    <p class="list-title mb-0"><a href="{% url 'core:edit-service' service.pk %}">{{service.title}}</a></p>
                                    
                                  </div>
                                </div>
                              </th>
                              <td class="align-top"><span class="fz15 fw400">{{ service.description}}</span></td>
                              <td class="align-top"><span class="fz15 fw400">{{ service.category}}</span></td>
                              <td class="align-top"><span class="fz14 fw400">Tsh {{ service.price }}/Fixed</span></td>
                              <td class="align-top">
                                <div class="d-flex">
                                  <a href="" class="icon me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><span class="flaticon-pencil"></span></a>
                                  <a href="" class="icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><span class="flaticon-delete"></span></a>
                                </div>
                              </td>
                            </tr>

                            {% endif %}
                            {% endfor %}
                            {% endif %}
                           
                          </tbody>
                        </table>
                        <div class="mbp_pagination text-center mt30">
                          <ul class="page_navigation">
                            <li class="page-item">
                              <a class="page-link" href="#"> <span class="fas fa-angle-left"></span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active" aria-current="page">
                              <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">20</a></li>
                            <li class="page-item">
                              <a class="page-link" href="#"><span class="fas fa-angle-right"></span></a>
                            </li>
                          </ul>
                          <p class="mt10 mb-0 pagination_page_count text-center">1 – 20 of 300+ property available</p>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="nav-item3" role="tabpanel" aria-labelledby="nav-item3-tab">
                      <div class="packages_table table-responsive">
                        <table class="table-style3 table at-savesearch">
                          <thead class="t-head">
                            <tr>
                              <th scope="col">Title</th>
                              <th scope="col">Description</th>
                              <th scope="col">Category</th>
                              <th scope="col">Type/Cost</th>
                              <th scope="col">Actions</th>
                            </tr>
                          </thead>
                          <tbody class="t-body">
                            {% if services %}
                            {% for service in services  %}
                            {% if service.status == 'ongoing' %}
                            <tr>
                              <th class="dashboard-img-service" scope="row">
                                <div class="listing-style1 list-style d-block d-xl-flex align-items-start border-0 mb-0">
                                  <div class="list-thumb flex-shrink-0 bdrs4 mb10-lg">
                                    <img class="w-100" src="{% if service.image %}{{ service.image.url }}{% else %} {% static 'assets/images/listings/g-1.jpg' %} {% endif %}" alt="">
                                  </div>
                                  <div class="list-content flex-grow-1 py-0 pl15 pl0-lg">
                                    <p class="list-title mb-0"><a href="page-services-single.html">{{service.title}}</a></p>
                                    
                                  </div>
                                </div>
                              </th>
                              <td class="align-top"><span class="fz15 fw400">{{ service.description}}</span></td>
                              <td class="align-top"><span class="fz15 fw400">{{ service.category}}</span></td>
                              <td class="align-top"><span class="fz14 fw400">Tsh {{ service.price }}/Fixed</span></td>
                              <td class="align-top">
                                <div class="d-flex">
                                  <a href="" class="icon me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><span class="flaticon-pencil"></span></a>
                                  <a href="" class="icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><span class="flaticon-delete"></span></a>
                                </div>
                              </td>
                            </tr>
                            {% endif %}
                            {% endfor %}  
                            {% endif %}
                          </tbody>
                        </table>
                        <div class="mbp_pagination text-center mt30">
                          <ul class="page_navigation">
                            <li class="page-item">
                              <a class="page-link" href="#"> <span class="fas fa-angle-left"></span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active" aria-current="page">
                              <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">20</a></li>
                            <li class="page-item">
                              <a class="page-link" href="#"><span class="fas fa-angle-right"></span></a>
                            </li>
                          </ul>
                          <p class="mt10 mb-0 pagination_page_count text-center">1 – 20 of 300+ property available</p>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="nav-item4" role="tabpanel" aria-labelledby="nav-item4-tab">
                      <div class="packages_table table-responsive">
                        <table class="table-style3 table at-savesearch">
                          <thead class="t-head">
                            <tr>
                              <th scope="col">Title</th>
                              <th scope="col">Description</th>
                              <th scope="col">Category</th>
                              <th scope="col">Type/Cost</th>
                              <th scope="col">Actions</th>
                            </tr>
                          </thead>
                          <tbody class="t-body">
                          {% if services %}
                              {% for service in services %}
                                  {% if service.status == 'completed' %}
                                  <tr>
                                      <th class="dashboard-img-service" scope="row">
                                          <div class="listing-style1 list-style d-block d-xl-flex align-items-start border-0 mb-0">
                                              <div class="list-thumb flex-shrink-0 bdrs4 mb10-lg">
                                                  <img class="w-100" src="{% if service.image %}{{ service.image.url }}{% else %}{% static 'assets/images/listings/g-1.jpg' %}{% endif %}" alt="">
                                              </div>
                                              <div class="list-content flex-grow-1 py-0 pl15 pl0-lg">
                                                  <p class="list-title mb-0"><a href="page-services-single.html">{{ service.title }}</a></p>
                                              </div>
                                          </div>
                                      </th>
                                      <td class="align-top"><span class="fz15 fw400">{{ service.description }}</span></td>
                                      <td class="align-top"><span class="fz15 fw400">{{ service.category.name }}</span></td>
                                      <td class="align-top"><span class="fz14 fw400">Tsh {{ service.price }}/Fixed</span></td>
                                      <td class="align-top">
                                          <div class="d-flex">
                                              <a href="" class="icon me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><span class="flaticon-pencil"></span></a>
                                              <a href="" class="icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><span class="flaticon-delete"></span></a>
                                          </div>
                                      </td>
                                  </tr>
                                  {% endif %}
                              {% endfor %}
                          {% endif %}

                            
                          </tbody>
                        </table>
                        <div class="mbp_pagination text-center mt30">
                          <ul class="page_navigation">
                            <li class="page-item">
                              <a class="page-link" href="#"> <span class="fas fa-angle-left"></span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active" aria-current="page">
                              <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">20</a></li>
                            <li class="page-item">
                              <a class="page-link" href="#"><span class="fas fa-angle-right"></span></a>
                            </li>
                          </ul>
                          <p class="mt10 mb-0 pagination_page_count text-center">1 – 20 of 300+ property available</p>
                        </div>
                      </div>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
          </div>

{% endblock content %}