{% extends "dashboards/sellers-dashboard/base.html" %}
{% block content %}

<div class="col-lg-12">
  <div class="dashboard_title_area">
    <h2>Dashboard</h2>
    <p class="text">👋🏻 Happy to have you back {{user.username}}</p>
  </div>
</div>
</div>
<div class="row">
  <div class="col-sm-6 col-xxl-3">
    <div class="d-flex align-items-center justify-content-between statistics_funfact">
      <div class="details">
        <div class="fz15">Services Offered</div>
        <div class="title">{% if total_number_of_service %}{{ total_number_of_service }}{% else %} 0 {% endif %}</div>
        <div class="text fz14"><span class="text-thm">10</span> New Offered</div>
      </div>
      <div class="icon text-center"><i class="flaticon-contract"></i></div>
    </div>
  </div>
  <div class="col-sm-6 col-xxl-3">
    <div class="d-flex align-items-center justify-content-between statistics_funfact">
      <div class="details">
        <div class="fz15">Completed Services</div>
        <div class="title">0</div>
        <div class="text fz14"><span class="text-thm">80+</span> New Completed</div>
      </div>
      <div class="icon text-center"><i class="flaticon-success"></i></div>
    </div>
  </div>
  <div class="col-sm-6 col-xxl-3">
    <div class="d-flex align-items-center justify-content-between statistics_funfact">
      <div class="details">
        <div class="fz15">in Queue Services</div>
        <div class="title">0</div>
        <div class="text fz14"><span class="text-thm">35+</span> New Queue</div>
      </div>
      <div class="icon text-center"><i class="flaticon-review"></i></div>
    </div>
  </div>
  <div class="col-sm-6 col-xxl-3">
    <div class="d-flex align-items-center justify-content-between statistics_funfact">
      <div class="details">
        <div class="fz15">Total Review</div>
        <div class="title">0</div>
        <div class="text fz14"><span class="text-thm">290+</span> New Review</div>
      </div>
      <div class="icon text-center"><i class="flaticon-review-1"></i></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-8">
    <div class="ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative">
      <div class="navtab-style1">
        <div class="d-sm-flex align-items-center justify-content-between">
          <h4 class="title fz17 mb20">Profile Views</h4>
          <div class="page_control_shorting dark-color pr10 text-center text-md-end">
            <select class="selectpicker show-tick">
              <option>This Week</option>
              <option>This Month</option>
              <option>This Year</option>
            </select>
          </div>
        </div>
        <canvas id="myChartweave" style="height:230px;"></canvas>
      </div>
    </div>
  </div>
  <div class="col-xl-4">
    <div class="ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative">
      <div class="bdrb1 pb15 mb50">
        <h5 class="title">Traffic</h5>
      </div>
      <canvas id="myChart" height="260px"></canvas>
    </div>
  </div>
</div>

{% endblock content %}