{% extends "base.html" %}
{% load static %}
{% block menutype %}nav-innerpage-style main-menu{% endblock menutype %}
{% block content %}
    <section class="categories_list_section overflow-hidden">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="listings_category_nav_list_menu">
              <ul class="mb0 d-flex ps-0">
                <li><a class="active" href="#">All Categories</a></li>
                {% comment %} <li><a href="#">Graphics & Design</a></li>
                <li><a class="active" href="#">Digital Marketing</a></li>
                <li><a href="#">Writing & Translation</a></li>
                <li><a href="#">Video & Animation</a></li>
                <li><a href="#">Music & Audio</a></li>
                <li><a href="#">Programming & Tech</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Lifestyle</a></li>
                <li><a href="#">Trending</a></li> {% endcomment %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Breadcumb Sections -->
    <section class="breadcumb-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcumb-style1">
              <div class="breadcumb-list">
                <a href="{% url 'core:home' %}">Home</a>
                <a href="{% url 'marketplace:sellers' %}">Sellers</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Breadcumb Sections -->
    <section class="breadcumb-section pt-0">
      <div class="cta-service-v1 cta-banner mx-auto maxw1700 pt120 pb120 bdrs16 position-relative overflow-hidden d-flex align-items-center mx20-lg px30-lg">
        <img class="left-top-img wow zoomIn" src="{% static 'assets/images/vector-img/left-top.png' %}" alt="">
        <img class="right-bottom-img wow zoomIn" src="{% static 'assets/images/vector-img/right-bottom.png' %}" alt="">
        <img class="service-v1-vector bounce-y d-none d-lg-block" src="{% static 'assets/images/vector-img/vector-service-v1.png' %}" alt="">
        <div class="container">
          <div class="row wow fadeInUp">
            <div class="col-xl-5">
              <div class="position-relative">
                <h2>Sellers</h2>
                <p class="text mb-0">All/</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Listings All Lists -->
    <section class="pt30 pb90">
      <div class="container">
        <div class="row">
          {% for seller_data in sellers_data %}
    <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="freelancer-style1 text-center bdr1 hover-box-shadow">
            <div class="thumb w90 mb25 mx-auto position-relative rounded-circle">
                <img class="rounded-circle mx-auto" src="{% if seller_data.seller.user_profile.user.profile_image %}{{ seller_data.seller.user_profile.user.profile_image.url }}{% else %} {% static 'assets/images/resource/user.png' %} {% endif %}" alt="">
                <span class="online"></span>
            </div>
            <div class="details">
                <h5 class="title mb-1">{{ seller_data.seller.user_profile.user.username }}</h5>
                <p class="mb-0">{{ seller_data.seller.profession }}</p>
                <div class="review"><p><i class="fas fa-star fz10 review-color pr10"></i><span class="dark-color fw500">4.9</span> ({{ seller_data.reviews_count }} reviews)</p></div>
                <div class="skill-tags d-flex align-items-center justify-content-center mb5">
                    {% for skill in seller_data.skills %}
                        <span class="tag">{{ skill.title }}</span>
                    {% endfor %}
                </div>
                <hr class="opacity-100 mt20 mb15">
                <div class="fl-meta d-flex align-items-center justify-content-between">
                    <a class="meta fw500 text-start">Location<br><span class="fz14 fw400">{{ seller_data.seller.user_profile.location }}</span></a>
                    <a class="meta fw500 text-start">Rate<br><span class="fz14 fw400">Tsh 1000/hr</span></a>
                    <a class="meta fw500 text-start">Job Success<br><span class="fz14 fw400">%0</span></a>
                </div>
                <div class="d-grid mt15">
                    <a href="{% url 'marketplace:seller-details' seller_data.seller.pk  %}" class="ud-btn btn-light-thm">View Profile<i class="fal fa-arrow-right-long"></i></a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

          
          
        </div>
        <div class="row">
          {% comment %} <div class="mbp_pagination mt30 text-center">
            <ul class="page_navigation">
              <li class="page-item">
                <a class="page-link" href="#"> <span class="fas fa-angle-left"></span></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item d-inline-block d-sm-none"><a class="page-link" href="#">...</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="page-item d-none d-sm-inline-block"><a class="page-link" href="#">...</a></li>
              <li class="page-item d-none d-sm-inline-block"><a class="page-link" href="#">20</a></li>
              <li class="page-item">
                <a class="page-link" href="#"><span class="fas fa-angle-right"></span></a>
              </li>
            </ul>
            <p class="mt10 mb-0 pagination_page_count text-center">1 – 20 of 300+ property available</p>
          </div> {% endcomment %}
        </div>
      </div>
    </section>


{% endblock content %}