{% load leaflet_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    ...
    {% leaflet_js %}
    {% leaflet_css %}
    <title>Document</title>
</head>
<body>
    {% leaflet_map "yourmap" %}  
    {% comment %} <script type="text/javascript">
        function map_init(map, options) {
            var area = L.geoJson({{ country.geom|geojsonfeatures|safe}}).addTo(map);
            map.gitBounds(area.getBounds());
        }
    </script>   {% endcomment %}
</body>
</html>